body{background: #777;}
h1{color: #008; 
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;}
p{font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: large; }
a{font-family: sans-serif;
    font-size: large;
    color: darkblue;}
img {display: block;
    margin-left: auto;
    margin-right: auto;}
table {display: block;
    margin-left: auto;
    margin-right: auto;}
td {font-size: 20;
    font-family: sans-serif;
    text-align: center;}
h8 {font-size: 8px;
    font-family: sans-serif;
    font-style: italic;}
